  
    <style>
        .fixed-header {
          position: sticky;
          top: 0;
          background-color: #ffffff; /* Adjust the background color as needed */
          z-index: 1; /* Ensure the header stays on top of other elements */
        }



        .search-container {
  position: relative;
}

.search-input {
  padding: 10px 35px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  width: 250px;
  outline: none;
}

.search-icon-container {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.search-icon {
  width: 24px;
  height: 24px;
  fill: #999;
  cursor: pointer;
}

/* Optional: Styles for hover/focus */
.search-input:hover,
.search-input:focus {
  border-color: #999;
}

.custom-button {
    background-color: #4f46e5; 
    color: #ffffff;
    border-radius: 30px;
    width: 6rem;
    height: 2.5rem;
    
  }

.custom-button:hover {
    background-color: #433cc9; /* Darker shade for hover effect */
}

      </style>



<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">


    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <!-- <div
            class="absolute inset-x-0 bottom-0"
            *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div> -->
        <!-- Title -->


        
        <div class="text-4xl font-extrabold tracking-tight">Price List</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
        
          <mat-form-field
          class="fuse-mat-dense fuse-mat-rounded min-w-64"
          [subscriptSizing]="'dynamic'">
          <mat-icon
              class="icon-size-5"
              matPrefix
              [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
          <input
              matInput
              [(ngModel)]="Search_CateGory_data"
              [autocomplete]="'off'"
              [placeholder]="'Search products'">
      </mat-form-field>



            
              <button
              class="ml-4"
              mat-flat-button
              [color]="'primary'"
              (click)="Create_Category()">
              <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
              <span class="ml-2 mr-1">Add</span>
          </button>
          
           
        </div>
       
    </div>




    

      
      <div class="overflow-x-auto">
        <table class="table-auto min-w-full divide-y divide-gray-200 border border-gray-200">
          <thead class="fixed-header">
            <tr>
              <th class="px-6 py-3 bg-gray-50 text-sm leading-5 font-semibold text-gray-500 uppercase tracking-wider transition-all hover:bg-gray-100 border-b border-gray-200 text-left">
                <ng-container *ngIf="isToggle_cateGory">
                  <mat-icon class="align-middle mr-1" svgIcon="heroicons_outline:bars-arrow-up" style="font-size: 1.5em"></mat-icon>
                 
                </ng-container>
                <ng-container *ngIf="!isToggle_cateGory">
                  <mat-icon class="align-middle mr-1" svgIcon="heroicons_outline:bars-arrow-down" style="font-size: 1.5em"></mat-icon>
                </ng-container>
                <button class="align-middle" (click)="toggle_cat()" style="font-size: 1.1em; font-weight: bold;">Name</button>
              </th>  
              <th class="px-6 py-3 bg-gray-50 text-sm leading-5 font-semibold text-gray-500 uppercase tracking-wider transition-all hover:bg-gray-100 border-b border-gray-200 text-left">
                <ng-container *ngIf="isToggle_cateGory">
                  <mat-icon class="align-middle mr-1" svgIcon="heroicons_outline:bars-arrow-up" style="font-size: 1.5em"></mat-icon>
                 
                </ng-container>
                <ng-container *ngIf="!isToggle_cateGory">
                  <mat-icon class="align-middle mr-1" svgIcon="heroicons_outline:bars-arrow-down" style="font-size: 1.5em"></mat-icon>
                </ng-container>
                <button class="align-middle" (click)="toggle_cat()" style="font-size: 1.1em; font-weight: bold;">Default Sales PriceList</button>
              </th>  
              <th class="px-6 py-3 bg-gray-50 text-sm leading-5 font-semibold text-gray-500 uppercase tracking-wider transition-all hover:bg-gray-100 border-b border-gray-200 text-left">
                <ng-container *ngIf="isToggle_cateGory">
                  <mat-icon class="align-middle mr-1" svgIcon="heroicons_outline:bars-arrow-up" style="font-size: 1.5em"></mat-icon>
                 
                </ng-container>
                <ng-container *ngIf="!isToggle_cateGory">
                  <mat-icon class="align-middle mr-1" svgIcon="heroicons_outline:bars-arrow-down" style="font-size: 1.5em"></mat-icon>
                </ng-container>
                <button class="align-middle" (click)="toggle_cat()" style="font-size: 1.1em; font-weight: bold;">Default Purchase PriceList</button>
              </th>  
              <th class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider transition-all hover:bg-gray-100 border-b border-gray-200 text-left">

              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr class="transition-all hover:bg-gray-100" *ngFor="let data of products_groups_all_data  | searchpipe:Search_CateGory_data">       
              <!-- *ngFor="let unit of display_all_units |  searchpipe:Search_data" -->
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-left">{{data.name}}</td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-left">{{data.isDefaultSales === true ? 'Yes' : 'No'}}</td>
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-left">{{data.isDefaultPurchase === true ? 'Yes' : 'No'}}</td>

              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-left">
                <button (click)="update_Category(data)">
                  <mat-icon svgIcon="heroicons_mini:pencil-square"></mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>
      





     
 
</div>
